@mixin c-pointer {
  cursor: pointer;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin justify-between {
  display: flex;
  justify-content: space-between;
}

@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin flex-box($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
